@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to YGWeb</h1>
    <p>This is a WIP Web Application for Yugioh Deck Building and searching
        The Following are the current goals of the web app:
    </p>
    <p>- Create a user account to store and access user-specific info</p>
    <p>- See the full Yugioh Card List and allow a search query with advanced search features</p>
    <p>- Allow Users who have logged in to save custom decks</p>
</div>
