@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to YGWeb</h1>
    <hr />
    <h4> This a a Web Application for the popular card game Yugioh</h4>
</div>
<div class="row p-3 m-3 text-center" style="display:flex;justify-content:center;">
    <img src="https://images8.alphacoders.com/120/thumb-1920-1204527.png" style="max-width: 1000px"/>
    <h5 class="m-3"> New User? Get started by registering above!</h5>
</div>